
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';


h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
.flex {
    display: flex;

}

header {
    height: 150px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;

    a {
        font-size: 30px;
        padding-top: 60px;
    }
}

.flex-horizontal {
    flex-direction: row;
}


body {
    background-color: pink;
    margin-left: 20px;
    margin-top: 20px;



    h1 {
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 20px;
    }
}

ul {
    list-style-type: none;
}

.body-section {
    justify-content: flex-end;
}

.space-section {
    
}

.images-profile {
    height: 80px;
    width: 80px;
    border-radius: 200px;
}

.images {
    height: 50px;
    width: 50px;
    border-radius: 200px;
    margin-left: -30px;

}
.signup-user-container {
    width: 300px;

    .signup-section{
        width: 100%;

        background-color: white;
        margin-bottom: 10px;

        h6 {
            width: 200px;
            padding-bottom: 20px;
        }

        .signup-button-container {
            text-align: center;
            padding-bottom: 20px;

            .signup-button {
                height: 60px;
                width: 150px;
                background-color: #1b95e0;
                border-radius: 100px;
                box-shadow: none;
            }
        }
    }

    .user-section {
        background-color: white;
        width: 100%;


    }

}

.tweet-section {
    background-color: white;
    width: 800px;
    height: 100%;
    margin-right: 10px;

    .tweet-nav {
        justify-content:flex-start;
        font-size: 19px;
        font-weight: bold;

        a {
            margin-top: 20px;
            margin-left: 20px;
            margin-right: 20px;
        }

        hr {
            padding-top: -20px;
        }
    }
}



.content-container {
    padding-left: 40px;
}

.content {
    background-color: lightblue;
    margin-right: 10px;
}

.info {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    .user-info {
        padding-left: 22px;
    }
}
